[submodule "dependencies/glfw"]
	path = dependencies/glfw
	url = https://github.com/glfw/glfw.git
	branch = 3.3.8
[submodule "dependencies/glm"]
	path = dependencies/glm
  url = https://github.com/g-truc/glm.git
  branch = 0.9.9.8
[submodule "dependencies/dear-imgui"]
	path = dependencies/dear-imgui
	url = https://github.com/ocornut/imgui.git
	branch = 5319d1c
